<!DOCTYPE html>
<html>

<head>
    <title>ng-validators demos</title>
    <base href="<%= htmlWebpackPlugin.options.basePath %>">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/7d64cb55fa.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script>
        var ngSelectVersion = '<%= htmlWebpackPlugin.options.ngSelectVersion %>';
        var basePath = '<%= htmlWebpackPlugin.options.basePath %>';
    </script>
</head>

<body>
    <demo-app>Loading ng-validators</demo-app>
</body>

</html>
