<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <!--<h4>rangeLength</h4>-->
    <!--<input type="text" ngModel name="username" #username="ngModel" [rangeLength]="[5, 9]" />-->
    <!--<p *ngIf="username?.errors?.rangeLength">rangeLength error</p>-->

    <!--<h4>min</h4>-->
    <!--<input type="text" ngModel name="min" #min="ngModel" [min]="5" />-->
    <!--<p *ngIf="min?.errors?.min">min error</p>-->

    <!--<h4>max</h4>-->
    <!--<input type="text" ngModel name="max" #max="ngModel" [max]="9" />-->
    <!--<p *ngIf="max?.errors?.max">max error</p>-->

    <!--<h4>range</h4>-->
    <!--<input type="text" ngModel name="range" #range="ngModel" [range]="[5, 9]" />-->
    <!--<p *ngIf="range?.errors?.range">range error</p>-->

    <!--<h4>creditCard</h4>-->
    <!--<input type="text" ngModel name="creditCard" #creditCard="ngModel" creditCard />-->
    <!--<p *ngIf="creditCard?.errors?.creditCard">creditCard error</p>-->

    <!--<h4>JSON</h4>-->
    <!--<input type="text" ngModel name="json" #json="ngModel" json />-->
    <!--<p *ngIf="json?.errors?.json">JSON error</p>-->

    <!--<h4>base64</h4>-->
    <!--<input type="text" ngModel name="base" #base="ngModel" base64 />-->
    <!--<p *ngIf="base?.errors?.base64">base64 error</p>-->

    <!--<h4>phone</h4>-->
    <!--<input type="text" ngModel name="phone" #phone="ngModel" [phone]="'zh-CN'" />-->
    <!--<p *ngIf="phone?.errors?.phone">phone error</p>-->

    <!--<h4>UUID</h4>-->
    <!--<input type="text" ngModel name="uuid" #uuid="ngModel" [uuid]="4" />-->
    <!--<p *ngIf="uuid?.errors?.uuid">UUID error</p>-->

    <!--<h4>equal to "xxx"</h4>-->
    <!--<input type="text" ngModel name="equal" #equal="ngModel" [equal]="'xxx'" />-->
    <!--<p *ngIf="equal?.errors?.equal">equal error</p>-->

    <h4>equalTo to password</h4>
    <input type="password" formControlName="password"/>
    <p *ngIf="form.controls.password?.errors?.required">required error</p>
    <input type="password" formControlName="certainPassword"/>
    <p *ngIf="form.controls.certainPassword?.errors?.equalTo">equalTo error</p>
    <button>submit</button>
</form>